{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    {% set log_route = app.user ? 'fos_user_security_logout' : 'fos_user_security_login' %}
    {% set log_text = app.user ? 'Logout' : 'Login' %}

    <p>
        <a href="{{ path(log_route) }}">{{ log_text }}</a>
    </p>

   {% block menu %}{% endblock %}

   {% block content %}{% endblock %}
{% endblock %}